In [1]:
import pandas as pd
df=pd.read_csv('gdp.csv')

In [2]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [4]:
df.dropna()

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

### As number of rows are same even by deleting null values row.So, we don't have null value here in any cell

### No. of Unique countries for which we have data is:

In [5]:
df['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic',
       'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China',
       'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
len(df['Country Name'].unique())

256

### How many years of Data we're having for India

In [13]:
df1=df[df['Country Name']=='India']

In [14]:
len(df1['Year'].unique())

57

### Whats the world GDP in 1969

In [15]:
df1=df[df['Year']==1969]

In [16]:
df1

,Country Name,Country Code,Year,Value
1,Arab World,ARB,1969,2.843420e+10
58,Caribbean small states,CSS,1969,3.563688e+09
142,Early-demographic dividend,EAR,1969,2.633785e+11
199,East Asia & Pacific,EAS,1969,3.461594e+11
256,East Asia & Pacific (excluding high income),EAP,1969,1.142179e+11
...,...,...,...,...
11095,Uruguay,URY,1969,2.004435e+09
11217,"Venezuela, RB",VEN,1969,1.179504e+10
11304,Virgin Islands (U.S.),VIR,1969,2.113000e+08
11402,Zambia,ZMB,1969,1.965714e+09
11459,Zimbabwe,ZWE,1969,1.747999e+09

In [17]:
df1.groupby('Year').sum()['Value']

Year
1969    1.957720e+13
Name: Value, dtype: float64

### Whats the % of GDP growth of India in Year 1994 (*as compare to 1993)

In [18]:
df1=df[df['Country Name']=='India']
df1.groupby('Year').sum()['Value']

Year
1960    3.653593e+10
1961    3.870910e+10
1962    4.159907e+10
1963    4.777600e+10
1964    5.572687e+10
1965    5.876042e+10
1966    4.525364e+10
1967    4.946617e+10
1968    5.237732e+10
1969    5.766833e+10
1970    6.158980e+10
1971    6.645256e+10
1972    7.050991e+10
1973    8.437454e+10
1974    9.819828e+10
1975    9.715922e+10
1976    1.013470e+11
1977    1.198667e+11
1978    1.354688e+11
1979    1.509508e+11
1980    1.838399e+11
1981    1.909095e+11
1982    1.980377e+11
1983    2.153508e+11
1984    2.093282e+11
1985    2.294103e+11
1986    2.456647e+11
1987    2.753114e+11
1988    2.926327e+11
1989    2.920933e+11
1990    3.166973e+11
1991    2.665023e+11
1992    2.843639e+11
1993    2.755704e+11
1994    3.229099e+11
1995    3.554760e+11
1996    3.876560e+11
1997    4.103203e+11
1998    4.157309e+11
1999    4.527000e+11
2000    4.621468e+11
2001    4.789655e+11
2002    5.080690e+11
2003    5.995929e+11
2004    6.996889e+11
2005    8.089011e+11
2006    9.203165e+11
2007    1.201112e+12
2008    1.186953e+12
2009    1.323940e+12
2010    1.656617e+12
2011    1.823050e+12
2012    1.827638e+12
2013    1.856722e+12
2014    2.035393e+12
2015    2.089865e+12
2016    2.263792e+12
Name: Value, dtype: float64

In [26]:
x1=df1[df['Year']==1993]['Value']
x2=df1[df['Year']==1994]['Value']

C:\Users\DELL\AppData\Local\Temp\ipykernel_24352\1873627514.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x1=df1[df['Year']==1993]['Value']
C:\Users\DELL\AppData\Local\Temp\ipykernel_24352\1873627514.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x2=df1[df['Year']==1994]['Value']

In [27]:
type(x1)

pandas.core.series.Series

In [30]:
import numpy as np

In [33]:
v1=np.array(x1)[0]

In [34]:
v2=np.array(x2)[0]

In [37]:
print(v1)

275570363432.31

In [38]:
print(v2)

322909902308.131

In [39]:
v2-v1

47339538875.820984

In [40]:
(v2-v1)/v1

0.17178748210146075

### So, growth rate in year 1994 with respect to 1993 is 17.17%

In [41]:
str(((v2-v1)/v1)*100)[:5]

'17.17'